<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JBS" connectionString="Data Source=localhost;User Id=SYSTEM;Password=n1tr4n3;"/>    
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="webservice" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="ValePedagioSoapBinding" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:28355/ServicoDeDadoDeVeiculo.svc"
          binding="basicHttpBinding" bindingConfiguration="webservice"
          contract="ServicoDeDados.IDadosVeiculo" name="webservice" />
      <endpoint address="https://apphom.viafacil.com.br:9443/wsvp/ValePedagio"
          binding="basicHttpsBinding" bindingConfiguration="ValePedagioSoapBinding"
          contract="ServicoViaFacil.ValePedagio" name="ValePedagio" />
    </client>
  </system.serviceModel>
</configuration>