@model MBCorpHealthTest.ViewModel.MedicoViewModel

@{
    ViewBag.Title = "title";
    
}

<h2>title</h2>
<table>
    <tr>
        <td>@Html.DisplayFor(model=>model.CRM)</td>
        <td>@Html.DisplayFor(model => model.Nome)</td>
        <td>@Html.DisplayFor(model => model.Estado)</td>
        
    </tr>
</table>