@using MBCorpHealth.View.ViewModel
@model List<CartaoViewModel>

@{
    ViewBag.Title = "Cadastro de Cartões";    
}

<h2>title</h2>
@Html.ActionLink("Adicionar novo cartão","Gravar");
<table>
    @foreach (var cartao in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model=> cartao.NumeroDoCartao)</td>
            <td>@Html.DisplayFor(model => cartao.NomeConformeEscritoNoCartao)</td>
            <td>@Html.ActionLink("Alterar","Editar",new {cartao.NumeroDoCartao})</td>
        </tr>
    }
</table>
