<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnderecoServicoIntegracaoPedagio" value="https://apphom.viafacil.com.br:9443/wsvp/ValePedagio"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegradorSistemaPedagio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:36863/ServicoIntegradorSistemaPedagio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegradorSistemaPedagio"
                contract="ServicoIntegradorSistemaPedagio.IIntegradorSistemaPedagio"
                name="BasicHttpBinding_IIntegradorSistemaPedagio" />
        </client>
    </system.serviceModel>
</configuration>