<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MBCorpDatabase" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Turma4;Data Source=Localhost;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>