<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="MBCORPHEALTH"
       connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DDD;Data Source=localhost\SQLEXPRESS;"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>