<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="BDJBS" connectionString="Data Source=localhost;User Id=SYSTEM;Password=n1tr4n3;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicoDeDadosJBS" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ServicoDeDadosJBS.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServicoDeDadosJBS" contract="ServicoDeDadosJBS.IServicoDeDadosJBS"
        name="BasicHttpBinding_IServicoDeDadosJBS" />
    </client>
  </system.serviceModel>
</configuration>