@model SistemaDeGestaoDeCarteriaDeAcoes.Controllers.AcaoController.AcaoViewModel
@{
    ViewBag.Title = "AdicionarAcao";
}

<h2>AdicionarAcao</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Cadastro De Acao</legend>
        <div>@Html.Label("Código da Acao")</div>
        <div>@Html.EditorFor(model=>model.Acao.Codigo)</div>
                       
        <div>@Html.Label("Nome da Empresa")</div>
  
        <div>@Html.DropDownListFor(id=>id.Acao.Empresa.CNPJEmpresa,new SelectList(Model.Empresas,"CNPJEmpresa","Razaosocial"))</div>
    
        <input type="submit" value="Criar"/>
    </fieldset>
}
